*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  color: #380B61;
}
/* Estilos primera sección fondo de pantalla */
.first-section{
  background-image: url(../images/img-fondo.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
}
/* Estilos del nombre de la red social */
.title{
  font-size: 5em;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #ECCEF5;
  margin-top: 4em;
}
/* Estilos de la frase de portada */
.phrase{
  font-size: 2em;
  text-align: center;
  font-family: 'Courgette', cursive;
  color: #ECCEF5;
}
/* Margen superior de los botones de registro e inicio de sesión */
.btnModal{
  margin-top: 6em;
}
/* Margen a la izquierda botón registro */
.btn1{
  margin-left: 23em;
}
/* Margen a la izquierda botón ingreso */
.btn2{
  margin-left: 1.5em;
}
/* Color de fondo de los contenedores de los modals */
.content-register, .content-entry{
  background: #ECCEF5;
}
/* Estilos del título del modal de registro */
.header-register h3{
  text-align: center;
  position: relative;
  bottom: 0.40em;
}
/* Padding de los inputs del modal de registro */
.inputRegister{
  padding: 0.40em;
}
/* Margen a la izquierda de los inputs del modal de registro */
.input-name, .input-password, .input-eMail{
  margin-left: 4em;
}
/* Estilos del botón para acceder */
.btn-access{
  position: relative;
  left: 10.8em;
  top: 1em;
}
/* Estilos de la letra ó */
.text-o{
  position: relative;
  left: 10em;
  bottom: 4em;
}
/* Estilos de las líneas a los costados de la letra ó */
.text-o::after, .text-o::before{
  content: "";
  display: inline-block;
  width: 8em;
  height: 0.1em;
  background-color: #380B61;
}
/* Estilos del botón a ingreso a Facebook */
.btnFacebook{
  position: relative;
}
/* Ancho del botón a ingreso a Google */
.btnGoogle{
  margin-top: 1em;
  width: 15em;
}
/* Margen de los botones de ingreso a Facebook y Google */
.btnFacebook, .btnGoogle{
  margin-left: 7em;
}
/* Título de sección ingreso centrado */
.content-entry h3{
  text-align: center;
}
/* Margen a la izquierda del input de contraseña de la sección de ingreso */
.inputEntryPass{
  margin-left: 3.7em;
}
/* Estilos del botón de ingresar del modal inicio de sesión */
.btnEntry{
  padding: 0.30em;
  background: #FFBF00;
  margin-top: 3em;
}

