/* Media query para ajustar contenido de web con un ancho mínimo de 
  601px y un máximo de 1000px */
@media (min-width: 601px) and (max-width: 1000px) {
  [class*="col-"] {
    width: 100%;
  }
  /* Centrando la imagen de fondo */
  .first-section{
    background-position: center;
  }
  /* Cambiando los margenes del titulo de portada de la primera sección
  (nombre de red social) */
  .title{
    font-size: 4em;
    margin-top: 5em;
    margin-left: 2em;
  }
  /* Cambiando margen de la frase primera sección */
  .phrase{
    margin-left: 2.5em;
  }
  /* Cambiando margen del botón REGISTRATE primera sección */
  .btn1{
    margin-top: 0.5em;
    margin-left: 17em;
  }
  /* Cambiando margen del botón INGRESA primera sección */
  .btn2{
    margin-top: 0.5em;
  }
  /* Cambiando margen y dando ancho a los inputs del
    modal de registro */
  .inputRegister{
    width: 70%;
    margin-left: 3em;
  }
  /* Cambiando margen del texto ó del modal registro */
  .text-o{
    position: relative;
    bottom: 6em;
    left: 3em;
  }
  /* Cambiando margen de los botones de Facebook y Google del
    modal registro */
  .btnFacebook, .btnGoogle{
  margin-left: 1.5em;
  }
  /* Cambiando margen del botón de acceso del modal registro */
  .btn-access{
    left: 5em;
  }
 }

/* Media query para ajustar contenido de web con un ancho mínimo de 
  200px y un máximo de 600px */
@media (min-width: 200px) and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
  /* Centrando la imagen de fondo */
  .first-section{
    background-position: center;
  }
/* Cambiando los margenes del titulo de portada de la primera sección
  (nombre de red social) */
  .title{
    font-size: 3em;
    margin-top: 7em;
  }
  .btn1{
    margin-top: 0.5em;
    margin-left: 1em;
  }
  .btn2{
    margin-top: 0.5em;
  }
  .inputRegister{
    width: 70%;
    margin-left: 3em;
  }
  .text-o{
    position: relative;
    bottom: 6em;
    left: 3em;
  }
  .btnFacebook, .btnGoogle{
  margin-left: 1.5em;
  }
  .btn-access{
    left: 5em;
  }
 }