/*formato general del body*/
body {
	background-color: #ECCEF5;
	color: #380B61;
}
body a,i {/*para los etiquetas a e i*/
	color:  #380B61;
}
/*formato general del nav*/
nav, .navbar-default { /*formato del nav (color y margen inferior*/
	background-color: #FFBF00;
	margin-bottom: 0;
}
.navbar-header #a-brand { /*formato de la marca Conecta*/
	color: #380B61;
}
.nav .span-input-search { /*para el input del nav*/
	background-color: #ECCEF5;
}
.navbar-nav {
	margin: 0;
}
.ul-nav {/*primera lista del nav*/
	display: inline-block;
}
.ul-nav-collapse {/*lista del nav izquierda*/
	display: none;
}
.profile{/*fondo header del perfil */
	background-image: url(../images/img-fondo.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: bottom;
  height: 50vh;
}
.profile h2{
  position: relative;
  left: 4em;
  bottom: 3em;
}
.profile .btn-follow{
  position: relative;
  bottom: 3em;
}
.header-contact {/*fondo header del perfil contacto*/
	background-image: url(../images/img-fondo2.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: bottom;
  height: 50vh;
}
header .row {/*eliminar margen*/
	margin: 0 auto;
}
header .header-user img {/*formato para la imagen de usuario*/
	border-radius: 2em;
  width: 10em;
  height: 10em;
  margin-top: 2em;
}
header h2 {/*formato para el nombre y apellido*/
	display: inline-block;
	color: #ECCEF5;
  margin-left: 1em;
}
header .btn-follow {/*formato para el botón seguir*/
  background-color: #380B61;
  color: #FFBF00;
  border: none;
  display: block;
  margin: 1em;
}

/*formato general seccion me-write*/
.sectn-me-write .row { /*margen nada*/
	margin: 0 auto;
}
.sectn-me-write .div-me-write {/*subseccion sobre mi*/
	margin: 2.5em;
	background-color: #FFFFFF;
	border: 2px double #F4FA58;
}
.sectn-me-write h4, h5 {/*títulos subseccion sobre mi*/
	padding: 0.5em 1.5em; 
}
.sectn-me-write h4 {/*línea inferior título sobre mi*/
	border-bottom: 2px double #F4FA58;
}
.sectn-me-write h5 span {/*span dentro de título sobre mi*/
	color: #5F04B4;
}
.sectn-me-write .div-write-news {/*formato div columna write news*/
	background-color: #FFFFFF;
	margin-top: 2.5em;
	border: 2px double #F4FA58;
	padding: 1.5em 2.5em;
}
.sectn-me-write .div-write-news .input-write-happening {/*formato del input*/
	border: none;
	width: 100%;
	height: 3.5em;
}
.sectn-me-write .div-write-news .div-insert a i {/*formato íconos insertar foto y emoji*/
	margin: 0.5em;
}
.sectn-me-write .div-btn {/*formato div botones*/
	margin-top: 1em;
	border-top: 2px double #F4FA58;
	padding: 0;
}
.sectn-me-write .div-btn h5 {/*título div botones*/
	padding: 1em 0;
}
.sectn-me-write .div-btn .btn-group button {/*formato botones categorías*/
	padding: 0.5em 2.82em;
	background-color: #380B61;
	color: #FFBF00;
}
/* Estilos mensaje para subir fotos (cuadro de texto) */
.unload{
border-radius: 0.50em;
background-color: #6E6E6E; 
color: white;
padding: 0.50em;
width: 7em;
position: relative;
right: 2em;
top: 1em;
display: none;
}
/* Agregar el vértice del bocadillo con before al cuadro de texto */
.unload:before {
content:"";
width: 0;
height: 0;
position: absolute;
margin: -2em 0 0 2em;
border-bottom: 2em solid #6E6E6E;
border-right: 1em solid transparent;
border-left: 1em solid transparent;
display: none;
}
/*formato seccion peldaños*/
.sectn-stair .div-stair-news {/*formato de información de posteo*/
	background-color: #FFFFFF;
	border: 2px double #F4FA58;
	margin-top: 2.5em;
	/*margin-left: 15.75em;*/
	padding: 0;
	width: 65.4%;
}
.sectn-stair .div-stair-newprof {/*información modificada para perfiles*/
	/*margin-left: 28em;*/
	margin-top: 0;
}
.sectn-stair .div-stair-news .div-stair-profile a .fa-user-circle {/*margen del ícomo perfil en posteo*/
	margin: 0.75em 0.5em; 
}
.sectn-stair .div-stair-news .div-stair-profile h3 {/*formato de la categoría, lugar y hora del posteo*/
	display: inline-block;
	margin: 0;
	
}
.sectn-stair .div-stair-news .div-stair-profile h3 a span { /*formato de lugar y hora del posteo*/
	background-color: #380B61;
	color: #FFBF00;
	padding: 0.1em;
}
.sectn-stair .div-stair-news .div-stair-area div {/*formato del posteo en sí*/
	border-bottom: 2px double #F4FA58;
	width: 100%;
	margin: 0;
	padding: 0;
}
.sectn-stair .div-stair-news .div-stair-area p {/*formato del párrafo del posteo*/
	margin-left: 2.5em;
	padding-bottom: 1em;
}
.sectn-stair .div-stair-news .div-stair-categories {/*formato de las cateogrías te leo*/
	border-bottom: 2px double #F4FA58;
	padding: 1em;
}
.sectn-stair .div-stair-news .div-stair-categories .btn-group {/*formato deñ div de los botones te leo y te ayudo*/
	margin-left: 1.5em;
}
.sectn-stair .div-stair-news .div-stair-categories .btn-group button {/*formato de los botones*/
	background-color: #380B61;
	color: #FFBF00;
} 
.sectn-stair .div-stair-news .div-stair-help {/*formato de la sección para escribir te ayudo*/
	display: none;
	padding: 1em;
}
.sectn-stair .div-stair-news .div-stair-help input {/*formato del input para escribir en te ayudo*/
	border: none;
	padding-bottom: 2em;
}

